In [1]:
import json
import numpy as np
import os
import pandas as pd
import urllib.request

In [2]:
dir_name = 'Bitcoin'
import os
dir_exists = os.path.isdir(dir_name)
if not dir_exists:
    os.mkdir(dir_name)
    print("Making directory %s" % dir_name)
else:
    print("Will store data in directory %s" % dir_name)

Making directory Bitcoin

In [3]:
urlBTC ='https://poloniex.com/public?command=returnChartData&currencyPair=USDT_' + 'BTC' + '&start=1420070400&end=9999999999&period=7200'
openUrl = urllib.request.urlopen(urlBTC)
r = openUrl.read()
openUrl.close()

In [4]:
jsondata = json.loads(r.decode())
n = len(jsondata)
columns =[]
#getting the columns 
if n > 0:
    columns = sorted(list(jsondata[0].keys()))
df = pd.DataFrame(columns=columns , index = range(n))

In [5]:
df.head()

  close date high  low open quoteVolume volume weightedAverage
0   NaN  NaN  NaN  NaN  NaN         NaN    NaN             NaN
1   NaN  NaN  NaN  NaN  NaN         NaN    NaN             NaN
2   NaN  NaN  NaN  NaN  NaN         NaN    NaN             NaN
3   NaN  NaN  NaN  NaN  NaN         NaN    NaN             NaN
4   NaN  NaN  NaN  NaN  NaN         NaN    NaN             NaN

In [7]:
#getting the data into columns
# we use set_value to load values into columns DataFrame.set_value(index, col, value, takeable=False)
for i in range(n):
    for j in columns:
        df.set_value(i , j , jsondata[i][j])

In [12]:
df.head()

  close        date high  low open quoteVolume      volume weightedAverage
0   225  1424368800  225  225  225  0.00444444    0.999999             225
1   244  1424376000  244  225  225    0.188671     45.2759         239.972
2   244  1424383200  244  244  244    1.79e-06  0.00043676             244
3   244  1424390400  244  244  244           0           0             244
4   244  1424397600  244  244  244           0           0             244

In [17]:
path = dir_name + '/Bitcoin.csv'
df.to_csv(path , sep='\t' , index=False)